button {
    font-size: 15px !important;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: #007AFF;
    border-radius: 10px 10px 10px 10px !important;
    padding: 12px 24px;
    color: #fff;
    fill: #fff;
    outline: none;
    border: none;
}